project:
  type: website

website:
  title: "Gyu H. Kim"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: cv.qmd
        text: CV

format:
  html:
    theme:
      - cosmo
      - custom.scss
    toc: true