project:
  type: website

website:
  title: "Gyu H. Kim"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: cv.qmd
        text: CV
    right:
      - icon: google
        href: https://scholar.google.com/citations?user=F5ujLRAAAAAJ&hl=ko

format:
  html:
    theme:
      - cosmo
      - custom.scss
    reference-location: document